.wrapper{
  position: relative;
  margin:2%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 75%;
  justify-items: center;

  .roadTable{

  }

  .connTable{

  }

}

.wrapperSecondary {
  position: relative;
  margin: 0 15%;
  justify-items: center;
}

