.title {
  text-align: center;
  font-size: 25px;
  padding: 10px 0px 20px;
  color:whitesmoke;
  border-bottom: 2px solid whitesmoke;
}

.secondary{
  text-align: center;
  font-size: 60px;
  padding: 10px 0px 0px;
  color:whitesmoke;
  font-family: 'Montserrat', sans-sherif;

}
