 .navItem {
    display: inline-block;
    list-style: none;
    border-right: 1px solid black;
    padding:0 30px;


    &Link {
      text-decoration: none;
      color: snow;

      &Active {
        font-weight: 700;
        text-decoration: underline;
        color:black;
      }
    }
  }

