.wrapper {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 55vh;
  height: 70vh;
  background-color: snow;
  box-shadow: 0 40px 50px -20px #548D96;
  position: fixed;
  border: 4px solid #566F94;

}
