.wrapper{
  display: grid;
  grid-template-columns:  auto  1fr auto auto;
  align-items: center;
  justify-items: start;
  padding: 30px 40px;
  background-color: #214258;
  border-bottom: 5px solid #19615b;


  i{
    color:white;
    font-size:50px;
  }

}

