.Formik{
  width: 60%;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.form {
  width: 100%;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}


.formItem {
  width: 100%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}


.formItemBar {
  width: 100%;
  height: 3px;
  background: white;
  transition: 0.1s all;

}

.formItemBarSecondary {
  @extend .formItemBar;
  background: black;
}

.label {
  color:white;
  position: absolute;
  top:2px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
  z-index: -2;
}

.labelSecondary {
  @extend .label;
  color:black;
}

.input{
  color:white;
  font-size: 18px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;

  &:required {
    border: none;
    box-shadow: none;
  }

}

.inputSecondary{
  @extend .input;
  color:black;
}

.input:focus{
  outline: none;
}

.input:focus + .label{
  top: -22px;
  font-size: 13px;
  color:white;
}

.inputSecondary:focus + .labelSecondary{
  top: -22px;
  font-size: 13px;
  color:black;
}

.input:not(:placeholder-shown) + .label{
  top: -22px;
  font-size: 13px;
}

.inputSecondary:not(:placeholder-shown) + .labelSecondary{
  top: -22px;
  font-size: 13px;
}

.input:focus ~ .formItemBar{
  background: white;
}

.inputSecondary:focus ~ .formItemBarSecondary{
  background: #548D96;
}
