.wrapper{
  position: relative;
  margin:2%;
  display: grid;
  grid-template-columns: 50%  50%;
  grid-template-rows: 80vh ;
  justify-items: center;
}


.actBtn{
  position: fixed;
  bottom:1%;
  right: 1%;
}

